body {
  background-image: url("images/marvel1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  height: 100vh;
  font-size: 1em;
}

/*Estilo de la ventana 1*/

#side1,
#side2 {
  /*Dimensiones del aside*/
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 15vw;
}
.side img {
  /*Tamaño de la imagen*/
  height: 100vh;
  width: 100%;
}
#sideleft {
  /*Posicionamiento del aside a la izquierda*/
  position: absolute;
  left: 0%;
}
#sideright {
  /*Posicionamiento del aside a la derecha*/
  position: absolute;
  right: 0%;
}

#window1 {
  /* Posicionamiento y visualización de la ventana 1 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  justify-content: space-between;
}

.largeDev {
  /* Estilo del título para responsive desktop*/
  color: white;
  font-family: sans-serif;
  display: block;
  font-size: 3.125em;
  font-stretch: semi-condensed;
  font-weight: bolder;
}
.smallDev {
  display: none;
}

.logom {
  /*Estilo del logo de marvel*/
  border: solid 0.188em;
  object-fit: fill;
  margin-bottom: 0%;
}

.access {
  /* Ordenar items del alias e ícono*/
  display: inline-block;
}
#nickname {
  /*Estilo del input del alias*/
  background-color: red;
  color: white;
  width: 5em;
  height: 1.5625em;
  font-size: 1.25em;
  font-family: sans-serif;
  font-weight: bolder;
  font-stretch: semi-condensed;
  text-align: center;
}
::placeholder {
  color: white;
}
.icon {
  /*Tamaño del ícono '?'*/
  width: 4.06em;
}

.modalWindow,
#endMessage {
  /*Estilos del modal con opacidad*/
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 3;
}
.modal {
  /*Estilos del modal*/
  width: 37.5em;
  padding: 1.875em 3.125em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  font-family: sans-serif;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  position: absolute;
  top: 10em;
  right: 25%;
}
.modal h1 {
  /*Estilo del título del modal*/
  color: black;
  font-stretch: extra-condensed;
}
li {
  /*Alinear listado de instrucciones*/
  text-align: left;
}
.close {
  /*Estilo ícono cerrar 'x'*/
  float: right;
  color: gray;
  font-weight: bold;
  font-size: 1.875em;
}
.close:hover {
  text-decoration: none;
  cursor: pointer;
}

#play {
  /*Estilo del botón Play*/
  margin-top: 0.625rem;
  background-color: red;
  color: yellow;
  width: 6.875rem;
  height: 3.125rem;
  font-size: 1.875em;
  font-family: sans-serif;
  font-weight: bolder;
  font-stretch: semi-condensed;
  border-radius: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*Estilo de la ventana 2*/

#window2 {
  display: none;
}

.container-player{
  text-align: center;
}
.container-lifes img{
  margin: 3px;
  width: 3.75em;
  float: center;
}

.alias {
  font-size: 2.5em;
  font-weight: bold;
  
  color: cornsilk;
  margin-top: 3.125em; 
  

}


#container {
  /*Tablero de tarjetas*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  background-image: url("images/backgroundmarvel1.jpg");
  margin: auto;
}

.super {
  /*Estilo de tarjeta*/
  width: 16%;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid;
  margin: 0.4em;
  border-radius: 5%;
  height: 8.125em;
  position: relative;
  transition: 0.5s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 3;
  animation: iniciar 2s;
 
}

@keyframes iniciar {
  20%, 90% {
    transform: rotateY(180deg);
  }
  0%,100% {
    transform: rotatey(0deg);
  }
  }

.super.flip {
  /*Rotación de la tarjeta*/
  transform: rotateY(180deg);
}

.super .back {
  /*Estilo de la cara posterior con el logo*/
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: fill;
  backface-visibility: hidden;
}

.super .image {
  /*Estilo de la cara de los superhéroes*/
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: fill;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotateY(180deg);
}

.alias {

}


/*Estilo del footer*/

footer {
  width: 100vw;
  height: 4vh;
  position: absolute;
  bottom: 0%;
  background-color: gold;
  text-align: center;
  font-size: 1.1em;
  font-weight: bolder;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #sideleft,
  #sideright {
    display: none;
  }
body {
  background-image: url("images/marvel1.jpg");
  background-repeat: no-repeat;
  display: flex;
}


.icon {
  width: 13%;
  position: absolute;
  top: 4%;
  left: 5%;
}

.container-player{
  display: inline-block;
  position: absolute;
}

.largeDev {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 14%;
  left: 5%;
  font-size: 2.8em;
  font-stretch: semi-condensed;
  font-weight: bolder;
}
.smallDev{
  display: none;
}

#play {
  width: 15rem;
  height: 6rem;
  font-size: 4em;
}

#nickname {
  width: 8em;
  height: 2.0rem;
}

.logom {
  height: 18vh;
}

#container {
  width: 100vw;
  height: 100vh;
}
.super {
  width: 20%;
  margin: 0%;
  padding: 0;
  height: 12%;
}

.modalWindow {
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 3;
}
.modal {
  width: 90%;
  height: 45%;
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 1em;
}
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  #sideleft,
  #sideright {
    display: none;
  }

  .smallDev {
    font-size: 2.1em;
    color: white;
    font-family: sans-serif;
    display: block;
    font-stretch: semi-condensed;
    font-weight: bolder;
  }
  .largeDev {
    display: none;
  }

  .logom {
    height: 20vh;
  }

  #nickname {
    width: 4rem;
    height: 1.8rem;
  }
  .icon {
    width: 20%;
    position: absolute;
    top: 4%;
    left: 5%;
  }

  .modalWindow {
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 3;
  }
  .modal {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    font-size: 1em;
  }

  #play {
    width: 9rem;
    height: 3rem;
    font-size: 2.5em;
  }

  #container {
    width: 100vw;
    height: 100vh;
  }
  .super {
    width: 20%;
    margin: 0;
    padding: 0;
  }

.container-lifes img{
   width: 3.125em;

  }

  .alias {
    font-size: 1.875em;
  }
}
